---
import Layout from '../layouts/Layout.astro'
import HeroCard from '../components/cards/HeroCard.astro'
import Thronocrigger from '../components/cards/Thronocrigger.astro'
import ContactCard from '../components/cards/ContactCard.astro'
import ProjectCard from '../components/cards/ProjectCard.astro'

import samuelhebting from '../assets/projects/samuel-hebting/logo.png'
import amsecurite from '../assets/projects/am-securite/logo.png'
import petitponey from '../assets/projects/petit-poney/logo.png'
---

<Layout title="Amine Rahmane - Accueil">
  <main class="bg-background group/cards">
    <div
      class="card-container w-screen h-screen flex flex-col gap-3 pt-4 px-2 group/cards lg:grid lg:grid-cols-3 lg:grid-rows-3"
    >
      <div class="lg:row-span-2 lg:col-span-2">
        <HeroCard />
      </div>
      <div
        class="flex flex-col justify-around items-center gap-3 h-auto lg:h-full lg:row-span-2"
      >
        <Thronocrigger
          title="Thronocrigger"
          project="Portfolio redesign"
          link="/projects/thronocrigger"
        />
        <ProjectCard
          title="Petit Poney Bar"
          project="Design et déploiement"
          image={petitponey}
          link="/projects/petit-poney-bar"
        />
      </div>
      <div
        class="flex flex-col justify-around items-center gap-3 w-full h-auto lg:h-full lg:flex-row lg:col-span-2"
      >
        <ProjectCard
          title="AM Sécurité"
          project="Design et déploiement"
          image={amsecurite}
          link="/projects/am-securite"
        />
        <ProjectCard
          title="Samuel Hebting"
          project="Design et déploiement de portfolio"
          image={samuelhebting}
          link="/projects/samuel-hebting"
        />
      </div>
      <div
        class="flex flex-col justify-around items-center gap-3 w-full h-auto lg:h-full lg:flex-row lg:col-span-1"
      >
        <div class="card h-full w-full overflow-hidden">
          <ContactCard />
        </div>
      </div>
    </div>
    <!-- <div
      class="card-container w-screen flex flex-col gap-3 py-4 px-2"
    >
      <div
        class="flex flex-col justify-around items-center gap-3 h-auto lg:h-full lg:grid lg:grid-cols-4"
      >
        <ProjectCard
          title="Petit Poney Bar"
          project="Design et déploiement"
          image={petitponey}
          link="/projects/petit-poney-bar"
        />
        <ProjectCard
          title="AM Sécurité"
          project="Design et déploiement"
          image={amsecurite}
          link="/projects/am-securite"
        />
        <ProjectCard
          title="Samuel Hebting"
          project="Design et déploiement de portfolio"
          image={samuelhebting}
          link="/projects/samuel-hebting"
        />
      </div>
    </div> -->
  </main>
</Layout>

<style></style>

<script>
  const handleCards = () => {
    const cardContainer: HTMLElement = document.getElementsByClassName(
      'card-container'
    )[0] as HTMLElement

    cardContainer.onmousemove = (e: MouseEvent) => {
      for (const card of document.querySelectorAll(
        '.card'
      ) as NodeListOf<HTMLElement>) {
        const rect = card.getBoundingClientRect(),
          x = e.clientX - rect.left,
          y = e.clientY - rect.top

        card.style.setProperty('--mouse-x', `${x}px`)
        card.style.setProperty('--mouse-y', `${y}px`)
      }
    }
  }

  document.addEventListener('astro:page-load', handleCards)
</script>
