---
interface Props {
  title: string
  project: string
  link: string
  image: ImageMetadata
}

const { title, project, link, image } = Astro.props
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"
import { Image } from "astro:assets"
---

<div class="card h-full w-full">
  <a target="_blank" href={link}>
    <Card>
      <CardHeader>
        <CardTitle className="scroll-m-20 text-2xl font-semibold tracking-tight">{title}</CardTitle>
        <CardDescription>{project}</CardDescription>
      </CardHeader>
      <CardContent className="w-full flex justify-center items-center">
        <Image src={image}  alt=`Image de ${title}` class="w-auto h-48"/>
      </CardContent>
    </Card>
  </a>
</div>


<style>
</style>