---
import '@fontsource/fira-sans'
import '@fontsource/ibm-plex-sans'
import { ViewTransitions } from 'astro:transitions'
import Header from '../components/Header.astro'
import Thronocrigger from '../components/cards/Thronocrigger.astro'
import ProjectCard from '../components/cards/ProjectCard.astro'

import samuelhebting from '../assets/projects/samuel-hebting/logo.png'
import amsecurite from '../assets/projects/am-securite/logo.png'
import petitponey from '../assets/projects/petit-poney/logo.png'

const title = 'À propos de moi'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content=`Portfolio d'Amine Rahmane, développeur et créateur d'identité - À propos de moi`
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.png"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      property="og:title"
      content={title}
    />
    <meta
      property="og:description"
      content="Portfolio d'Amine Rahmane, développeur et créateur d'identité - À propos de moi"
    />
    <meta
      property="og:url"
      content="https://amine-rahmane.fr"
    />
    <meta
      property="og:image"
      content="https://amine-rahmane.fr/favicon.png"
    />
    <meta
      name="twitter:card"
      content="summary_large_image"
    />
    <meta
      name="twitter:site"
      content="@dasporal"
    />
    <meta
      name="twitter:title"
      content={title}
    />
    <meta
      name="twitter:description"
      content="Portfolio d'Amine Rahmane, développeur et créateur d'identité - À propos de moi"
    />
    <meta
      name="twitter:image"
      content="https://amine-rahmane.fr/favicon.png"
    />
    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body class="w-screen overflow-x-hidden bg-background">
    <main class="z-20 flex items-center justify-center lg:pb-8">
      <div
        class="flex w-full flex-col items-center justify-center gap-4 lg:w-2/3">
        <div class="w-full p-3">
          <Header />
        </div>
        <div class="flex w-full flex-col gap-8 lg:flex-row">
          <div class="w-full lg:w-2/3">
            <div
              class="body-content flex w-full flex-col gap-3 rounded-xl bg-background bg-cover bg-center px-8 pb-16 opacity-100 shadow shadow-primary">
              <div
                class="flex w-full flex-col gap-3 rounded-xl bg-cover bg-center p-3 lg:p-8">
                <h1
                  class="title prose bg-text font-title text-clamp-title font-bold tracking-tight text-background">
                  À propos de moi
                </h1>
              </div>
              <div class="lg:mx-28">
                <div class="prose prose-text h-auto min-w-full">
                  <slot />
                </div>
              </div>
            </div>
          </div>
          <div
            class="card-container m-2 flex w-full flex-col gap-4 py-2 lg:w-1/3">
            <Thronocrigger
              title="Thronocrigger"
              project="Portfolio redesign"
              link="/projects/thronocrigger"
            />
            <ProjectCard
              title="Petit Poney Bar"
              project="Design et déploiement"
              image={petitponey}
              link="/projects/petit-poney-bar"
            />
            <ProjectCard
              title="AM Sécurité"
              project="Design et déploiement"
              image={amsecurite}
              link="/projects/am-securite"
            />
            <ProjectCard
              title="Samuel Hebting"
              project="Design et déploiement de portfolio"
              image={samuelhebting}
              link="/projects/samuel-hebting"
            />
          </div>
        </div>
      </div>
    </main>
    <style lang="scss" is:global>
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply font-title;
      }

      main {
        background: radial-gradient(
          rgba(255, 255, 255, 0.05) 9%,
          transparent 9%
        );
        background-position: 0% 0%;
        background-size: 8vmin 8vmin;
      }

      .body-content {
        transform: translateX(-100px);
        animation: fade 0.4s ease-in-out forwards;
      }

      .title {
        position: relative;
        padding: 0 0.475rem;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0.01);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: rgb(228, 100, 71);
          transform-origin: bottom left;
          animation: underline 1.2s ease-in-out forwards;
        }
      }

      @keyframes underline {
        0% {
          transform: scaleX(0.01);
        }
        100% {
          transform: scaleX(1);
        }
      }

      @keyframes fade {
        0% {
          opacity: 0;
          transform: translateX(-10px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
    <script>
      const handleCards = () => {
        const cardContainer: HTMLElement = document.getElementsByClassName(
          'card-container'
        )[0] as HTMLElement

        cardContainer.onmousemove = (e: MouseEvent) => {
          for (const card of document.querySelectorAll(
            '.card'
          ) as NodeListOf<HTMLElement>) {
            const rect = card.getBoundingClientRect(),
              x = e.clientX - rect.left,
              y = e.clientY - rect.top

            card.style.setProperty('--mouse-x', `${x}px`)
            card.style.setProperty('--mouse-y', `${y}px`)
          }
        }
      }

      document.addEventListener('astro:page-load', handleCards)
    </script>
  </body>
</html>
