---
import '@fontsource/fira-sans'
import '@fontsource/ibm-plex-sans'
import { ViewTransitions } from 'astro:transitions'
import Header from '../components/Header.astro'
import Card from '../components/Card.astro'

interface Props {
  title: string
  company: string
  body?: string
}

const {
  title = 'Portfolio redesign',
  company = 'Thronocrigger',
  body = `Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum sapien elit, in efficitur diam congue id. Quisque lectus mi, finibus quis sagittis a, elementum non lectus. Nam rutrum rutrum sagittis. Sed eleifend sem ut elementum dapibus. Morbi lobortis metus vel nibh aliquet, eu tempor ante tristique. Aliquam neque risus, semper non velit vitae, feugiat volutpat massa. Cras id metus vel nunc ornare pellentesque et porttitor ex. Integer congue libero ac facilisis porttitor. Vestibulum lacinia neque sapien, eu posuere ex dictum in. Suspendisse rutrum mi in sapien feugiat laoreet.

Nam a dignissim enim, sed pharetra nulla. Mauris venenatis nibh id felis pretium, id cursus erat pharetra. Suspendisse malesuada nibh ut eros venenatis, nec varius turpis mollis. Fusce ut lorem consequat enim malesuada convallis. Aenean eget arcu et tortor malesuada pulvinar. Praesent convallis sodales pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Praesent condimentum massa quis quam scelerisque vestibulum.

Praesent porttitor vitae sem quis imperdiet. Nunc a mattis mi. Cras nibh nisl, sollicitudin sed vulputate in, rutrum id nisl. Phasellus tempus, dolor vel condimentum pharetra, tortor quam condimentum nulla, sed maximus leo risus non purus. Maecenas venenatis quam diam, sed tincidunt lorem hendrerit dapibus. Cras posuere dui vel orci posuere maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Aliquam finibus libero ligula, efficitur pellentesque eros iaculis eu. Ut eu neque scelerisque, elementum libero et, bibendum lorem. Praesent consequat lectus vel rutrum malesuada. Morbi bibendum leo felis, ac vulputate arcu euismod in. Mauris ullamcorper et dolor ac pellentesque. Sed finibus fringilla vulputate. Praesent at risus nisi.

Praesent nec ligula vitae libero volutpat finibus eget ut dui. Sed sed vehicula mauris. In hac habitasse platea dictumst. Sed eu dolor at arcu sagittis luctus eu nec nunc. Duis in accumsan urna. Fusce rutrum justo ac metus euismod malesuada. Quisque eget nunc pellentesque, varius dui lobortis, condimentum libero. Morbi consequat erat vitae arcu elementum, id commodo mauris tincidunt. Duis nec quam elit. Maecenas auctor, odio at blandit tempor, ante arcu semper dui, sed cursus massa arcu a mauris. Suspendisse accumsan felis in sem pellentesque cursus. Morbi vestibulum eleifend laoreet. Nunc felis purus, finibus quis est id, venenatis vestibulum magna. Sed feugiat consequat felis ac elementum.`,
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-background">
    <main class="h-screen w-screen flex justify-center items-center z-20">
      <div
        class="flex flex-col justify-center items-center h-full w-full gap-4 lg:w-2/3"
      >
        <div class="w-full">
          <Header />
        </div>
        <div class="flex flex-row w-full h-full gap-8">
          <div class="w-2/3">
            <div
              class="bg-background border border-primary opacity-100 w-full h-full flex flex-col rounded-xl bg-cover bg-center p-8 gap-3"
            >
              <h1 class="title font-title text-4xl w-max">{title}</h1>
              <h2 class="font-title text-2xl">{company}</h2>
              <p>{body}</p>
            </div>
          </div>
          <div class="w-1/3 flex flex-col gap-4 py-2">
            <Card title="test" body=":3" />
            <Card title="Data" body=":3" />
            <Card title="Data" body=":3" />
            <Card title="Data" body=":3" />
            <Card title="Data" body=":3" />
          </div>
        </div>
      </div>
    </main>
    <style lang="scss">
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply text-text;
      }

      main {
        background: radial-gradient(
          rgba(255, 255, 255, 0.05) 9%,
          transparent 9%
        );
        background-position: 0% 0%;
        background-size: 8vmin 8vmin;
      }

      .title {
        display: inline-block;
        position: relative;
        color: #f0dddb;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0.01);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #f0dddb;
          transform-origin: bottom left;
          animation: underline 1.2s ease-in-out forwards;
          animation-delay: 0.2s;
        }
      }

      @keyframes underline {
        0% {
          transform: scaleX(0.01);
        }
        100% {
          transform: scaleX(1);
        }
      }
    </style>
  </body>
</html>
